@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

:root {
  --title-font: normal normal 700 2.5rem/1.3 'Inter', sans-serif;
  --title-font-desk: normal normal 800 3rem/1.3 'Inter', sans-serif;
  --desc-font: normal normal 400 1.3rem/1.4 'Inter', sans-serif;
  --card-title-font: normal normal 600 1.5rem/1.3 'Inter', sans-serif;
  --card-tag-font: normal normal 600 0.8rem/1.4 'Inter', sans-serif;
  --button-font: normal normal 500 1.125rem/1.4 'Inter', sans-serif;
  --primary-color: #172B4D;
  --secondary-color: #36B37E;
  --tertiary-color: #EBF0EE;
  --quaternary-color: #C1C7D0;
  --social-color: #505F79;
  --card-color: #3A4A42;
}

body {
  text-align: center;
}

button {
  background: none;
  border: none;
}

button:active {
  background-color: #008552;
}

img {
  max-width: 100%;
}

.container {
  width: 88%;
  margin: 0 auto;
  max-width: 768px;
}

.min_container {
  width: 75%;
  margin: 0 auto;
}

.my_row {
  display: flex;
  justify-content: space-between;
}

.my_col {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header {
  overflow: hidden;
  z-index: 5;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  opacity: 0.9;
}

.logo {
  width: 50px;
}

/* style the headline section */

.headline {
  background-image: url(./assets/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10em 0 5em 0;
}

.headline .my_col {
  gap: 1.5em;
}

.my_img {
  width: 50%;
  margin: 0 auto;
}

.title {
  font: var(--title-font);
  color: var(--primary-color)
}

.title_desc {
  color: var(--secondary-color);
}

.headline_desc,
.about_desc {
  font: var(--desc-font);
  color: var(--primary-color);
}

.socials {
  justify-content: center;
  gap: 1em;
}

.socials a {
  text-decoration: none;
  color: var(--social-color);
  font: var(--desc-font);
}

.socials a:hover {
  color: var(--social-color);
}

/* style the portfolio section */

.portfolio,
.skills {
  margin-top: 2em;
}

.portfolio,
.skills {
  justify-content: center;
}

.cards_cont {
  justify-content: center;
  padding: 2em 0.75em;
}

.card-title {
  font: var(--card-title-font);
  color: var(--card-color)
}

.card-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  margin: 1em 0 2em 0;
}

.tag {
  font: var(--card-tag-font);
  color: var(--card-color);
  background: var(--tertiary-color);
  border-radius: 5px 5px;
  padding: 0.5em 0.75em;
}

.project_btn {
  font: var(--button-font);
  color: #fff;
  border-radius: 5px 5px;
  background: var(--secondary-color);
  padding: 0.75em;
  text-decoration: none;
}

.project_btn:hover {
  color: #fff;
}

.project_btn:active {
  background-color: #008552;
}

.project_btn_cont {
  margin: 1em 0;
  padding: 1em 0;
}

/* style the about section */

.about {
  background-image: url(./assets/illustration-about-me-mobile.svg), url(./assets/Mask-Group.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
  padding: 4em 0 2em 0;
}

.about_desc {
  padding: 1em 0 1.5em 0;
}

.about .container {
  padding-bottom: 2em;
}

/* style the skills section */

.skills-card-body {
  background-color: var(--tertiary-color);
  min-height: 316px;
}

.skills-card-body .tag {
  background-color: #fff;
  padding: 0.75em 1em;
  color: var(--secondary-color);
}

.skills-card-body img {
  margin-top: 1em;
}

.skills-card-body .card-title {
  margin-top: -0.5em;
}

/* style contact section */

.contact .title {
  margin: 1em 0;
}

.email_address {
  margin: 1.5em 0;
}

.email_address a {
  text-decoration: none;
  font: var(--desc-font);
  color: var(--social-color);
}

.email_address a:hover {
  color: var(--social-color);
}

/* popup window style */
.hidden {
  display: none;
}

#popup {
  z-index: 15;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  backdrop-filter: blur(12px);
  overflow-y: auto;
  margin: auto 0;
  padding: 2em 0;
}

#popup .card {
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
}

#popup .card-body {
  z-index: 20;
}

#popup .card-text {
  width: 60%;
  margin: 2em auto;
}

.card-img-overlay {
  text-align: right;
}

.btn_row .project_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 1em auto;
  max-width: 300px;
}

@media only screen and (min-width: 990px) {
  #popup .card {
    font-size: x-large;
  }

  #popup .card {
    width: 70%;
    max-width: 1080px;
  }

  .btn_row {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
  }

  .container {
    width: 70%;
    max-width: 1080px;
  }

  .headline {
    background-image: url(./assets/Header-llustration-desktop.svg);
    padding: 15em 0 40em 0;
    margin-bottom: 5em;
  }

  .headline .title {
    font: var(--title-font-desk);
  }

  .headline_desc {
    width: 65%;
    margin: 0 auto;
    max-width: 1080px;
  }

  .my_img_desc_cont {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .my_desc_cont {
    width: 100%;
  }

  .indicator {
    display: none;
  }

  .about {
    background-image: url(./assets/illustration-about-me-2-desktop.svg), url(./assets/Frame3.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
    padding: 4em 0 2em 0;
  }

  .about_desc {
    width: 65%;
    margin: 0 auto;
  }

  .contact {
    margin-top: 3em;
    background-image: url(./assets/Frame.svg), url(./assets/Frame2.svg), url(./assets/illustration-2-contact-form-desktop.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center right, center left, 250px 300px;
    background-size: 12%, 12%, 12%;
  }

  .contact_row {
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin-bottom: 10em;
  }

  .contact_row .title {
    width: 40%;
    text-align: left;
    font-size: 2em;
  }

  .form {
    width: 60%;
  }

  .form .project_btn_cont {
    text-align: left;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--quaternary-color);
  }
}
